<!DOCTYPE html>
<html>
<head>
    <title>Quizzes List</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1>List</h1>

<% var quizzes=JSON.parse(quizzesJson) %>

<% for(i=0;i<quizzes.length;i++){ %>
<div>Pregunta: <%=quizzes[i].question%> Respuesta: <%=quizzes[i].answer%> </div>
<%}%>

</body>
</html>
